<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
        <header class="header">
            <div class="box-top">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo"></a>
                <form class="search-form" action="" method="GET">
                    <div class="search-bar">
                        <label></label>
                        <input type="text" name="search" placeholder="Buscar productos, marcas y más">
                    </div>
                <i class="fas fa-search"></i>
                </form>
            </div>
            <p class="compra-cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas sin tarjeta de crédito</p>
            <nav class="box-bottom">
                    <ul class="box-one">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                    <ul class="box-two">
                        <li><a href="register">Crea tu cuenta </a><i class="far fa-id-card"></i></li>
                        <li><a href="login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                        <li><a href="#">Mis Compras </a><i class="fas fa-shopping-basket"></i></li>
                    </ul>
                <div class="burguer-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </header>
        <main>
            <form class="formulario-padre" action="/" method="POST">
                <div class="formulario-hijo">
                    <label></label>
                    <input type="text" name="full-name" placeholder="Nombre y apellido" required>
                </div>
                <div class="formulario-hijo">
                    <label ></label>
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="formulario-hijo">
                    <label for="Fecha de nacimiento">Fecha de nacimiento</label>
                    <input type="date" name="born-date" id="Fecha de nacimiento" required>
                </div>
                <div class="formulario-hijo">
                    <label ></label>
                    <input type="text" name="place" placeholder="Domicilio" required>
                </div>
                <div class="formulario-hijo">
                    <label for="">Perfil de usuario</label>
                    <label class="label-hijo">Comprador<input type="radio" name="user-profile" value="Comprador"></label>
                    <label class="label-hijo">Vendedor<input type="radio" name="user-profile" value="Vendedor"></label>
                </div>
                <div class="formulario-hijo">
                    <label >Categorías de interés</label>
                    <label class="label-hijo">Electro<input type="checkbox" name="interested" value="Electro"></label>
                    <label class="label-hijo">Moda<input type="checkbox" name="interested" value="Moda"></label>
                    <label class="label-hijo">Hogar<input type="checkbox" name="interested" value="Hogar"></label>
                    <label class="label-hijo">Juguetería<input type="checkbox" name="interested" value="Juguetería"></label>
                    <label class="label-hijo">Vida sana<input type="checkbox" name="interested" value="Vida sana"></label>
                </div>
                <div class="formulario-hijo">
                    <label >Foto de usuario</label>
                    <input class="foto-usuario" type="file" name="avatar" accept=".jpg">
                </div>
                <div class="formulario-hijo">
                    <label ></label>
                    <input type="password" name="password" placeholder="Contraseña" required>
                </div>
                <div class="formulario-hijo">
                    <label ></label>
                    <input type="password" name="password" placeholder="Confirmar Contraseña" required>
                </div>
                <div class="botones">
                    <button type="submit">Registrarse</button>
                    <button type="reset">Borrar</button>
                </div>
            </form>
        </main>
        <footer class="footer">
            &copy; 1999-2020 MercadoLiebre S.R.L.
        </footer>
    </body>
</html>