.formulario-padre {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.formulario-hijo {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-bottom: 10px;
}

.formulario-hijo input {
    border-radius: 4px;
    border: 1px solid black;
    height: 4vh;
}

.formulario-hijo input::placeholder {
    font-size: 16px;
    font-style: italic;
}

button {
    border-radius: 8px;
    background-color: #1259c3;
    color: #fff;
    height: 3vh;
    margin: 8px;
    transition: background-color 900ms;
    cursor: pointer;
}
button:hover {
    background-color: #0022AA;
}