main {
    margin-top: 200px;
}

.formulario-padre-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a5a1a1;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding-top: 20px;
    border-radius: 15px;
}

.formulario-hijo-register {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 4px;
}
.formulario-hijo-register input {
    border-radius: 4px;
    border: 1px solid black;
    height: 3vh;
}

.formulario-hijo-register input::placeholder {
    font-style: italic;
}

.formulario-hijo-register label {
    font-weight: bold;
}
.formulario-hijo-register .label-hijo {
    font-weight: normal;
    font-size: 14px;
    margin: 2px 0px;
}
.formulario-hijo-register .label-hijo input {
    margin-left: 5px;
    height: 2vh;
}

.formulario-hijo-register span {
    font-size: 12px;
}
.formulario-hijo-register .foto-usuario {
    background-color: #fff;
    height: 2.5vh;
}

.botones-register {
    display: flex;
}
.botones-register button {
    border-radius: 8px;
    background-color: #1259c3;
    color: #fff;
    height: 3vh;
    margin: 8px;
}


@media (min-width: 769px) {
    .formulario-padre-register {
        width: 30%;
    }
}