<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %> <!--head-->
    <body>
        <%- include("partials/header") %> <!--header-->
        <section class="banner">
            <img src="/images/img-home-banner.jpg" alt="Banner" width="100%">
        </section>
        <main class="main">
            <section>
                <h3>Basado en su última visita</h3>
                <div class="products">
                    <article class="product-box">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="" width="100%">
                        <article class="cajitas">
                            <i class="fas fa-truck"></i>
                            <div class="box-price">
                                <p class="price">$6.770</p>
                                <p class="discount">40% OFF</p>
                            </div>
                            <h6>Cafetera Moulinex</h6>
                        </article>
                    </article>
                    <article class="product-box">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="" width="100%">
                        <article class="cajitas">
                            <i class="fas fa-truck"></i>
                            <div class="box-price">
                                <p class="price">$230.000</p>
                                <p class="discount">20% OFF</p>  
                            </div> 
                            <h6>MacBook Pro 2019</h6>
                        </article>
                    </article>
                    <article class="product-box">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="100%">
                        <article class="cajitas">
                            <i class="fas fa-truck"></i>
                            <div class="box-price">
                                <p class="price">$70.500</p>
                                <p class="discount">10% OFF</p>
                            </div>
                            <h6>Samsung Galaxy S10</h6>
                        </article>
                    </article>
                    <article class="product-box">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="" width="100%">
                        <article class="cajitas">
                            <i class="fas fa-truck"></i>
                            <div class="box-price">
                                <p class="price">$23.200</p>
                                <p class="discount">5% OFF</p>
                            </div>
                            <h6>SmartTv Samsung 43"</h6>
                        </article>
                    </article>
                </div>
            </section>
            <section>
                <h3>Ofertas</h3>
                <div class="products">
                    <article class="product-box">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="" width="100%">
                        <article class="cajitas">
                            <i class="fas fa-truck"></i>
                            <div class="box-price">
                                <p class="price">$6.770</p>
                                <p class="discount">40% OFF</p>
                            </div>
                            <h6>Cafetera Moulinex</h6>
                        </article>
                    </article>
                    <article class="product-box">
                    <img src="/images/img-macbook-pro-2019.jpg" alt=""  width="100%">
                        <article class="cajitas">
                            <i class="fas fa-truck"></i>
                            <div class="box-price">
                                <p class="price">$230.000</p>
                                <p class="discount">20% OFF</p>  
                            </div> 
                            <h6>MacBook Pro 2019</h6>
                        </article>
                    </article>
                    <article class="product-box">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt=""  width="100%">
                        <article class="cajitas">
                            <i class="fas fa-truck"></i>
                            <div class="box-price">
                                <p class="price">$70.500</p>
                                <p class="discount">10% OFF</p>
                            </div>
                            <h6>Samsung Galaxy S10</h6>
                        </article>
                    </article>
                    <article class="product-box">
                    <img src="/images/img-tv-samsung-smart.jpg" alt=""  width="100%">
                        <article class="cajitas">
                            <i class="fas fa-truck"></i>
                            <div class="box-price">
                                <p class="price">$23.200</p>
                                <p class="discount">5% OFF</p>
                            </div>
                            <h6>SmartTv Samsung 43"</h6>
                        </article>
                    </article>
                </div>
            </section>
        </main>
        <%- include("partials/footer") %><!--footer-->
    </body>
</html>