<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %> <!--head-->
    <body>
        <%- include("partials/header") %> <!--header-->
        <main>
            <form class="formulario-padre" action="" method="POST">
                <div class="contenedor-login">
                    <div class="formulario-hijo">
                        <label ></label>
                        <input type="text" name="user-name" placeholder="Nombre de usuari@" required>
                    </div>
                    <div class="formulario-hijo">
                        <label></label>
                        <input type="password" name="password" placeholder="Ingresa tu contrase単a" required>
                    </div>
                    <div class="opciones">
                            <label for="remember">Recordar usuario y contrase単a
                                 <input type="checkbox" name="remember" ></label>  
                        <a href="#">多Olvidaste tu contrase単a?</a>
                    </div>
                    <button type="submit">Ingresar</button>
                </div>
            </form>
        </main>
        <%- include("partials/footer") %><!--footer-->
    </body>
</html>